@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300;1,400&display=swap");

.containerDetail {
  color: var(--white-color);
  border-radius: 8px 8px 8px 0px;
  background: linear-gradient(var(--RedBordeaux-color), var(--red-color));

  border-color: var(--violet-color);
  padding: 20px;
  justify-content: center;
  width: 600px;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: 10px 5px 5px grey;
}

.nameBouteils {
  margin-bottom: 10px;
}
.nameBouteils h1 {
  text-align: center;
}

.mainCardDetail {
  display: flex;
  justify-content: space-around;
}

.petDetail {
  border: solid 3px var(--violet-color);
  padding: 19px;
  text-align: center;
}

div h2 {
  font-size: 1.5em;
}
div h3 {
  font-size: 1em;
}

.cardFooter {
  margin-top: 10px;
}
