@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  list-style: none;

  border: none;
  outline-style: none;
}
body {
  background-image: url(https://img.freepik.com/vecteurs-libre/texture-elegante-fond-blanc_23-2148438404.jpg?size=626&ext=jpg&ga=GA1.2.23815117.1607990400);
  background: cover;
  /* min-width: 100vh;
    padding-bottom: 50px; */
}
html,
body {
  height: 100%;
}
