#contenu {
  min-height: 100%;
  position: relative;
}

/* ****************** */
/****** HEADER ********/
/* ****************** */
.bg {
  background: linear-gradient(var(--RedBordeaux-color), var(--red-color));
  width: 100%;
  height: 95px;
  margin-top: 0;
  border-radius: 0 0 60px 60px;
}

.logoBlock,
.logo {
  width: 200px;
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: var(--violet-color);
  justify-content: space-around;
  box-shadow: 3px 3px 15px;
  border-radius: 0 0 15px 15px;
  margin-top: 10px;
}

/* Liste des liens */
.liensDeNav {
  margin: auto 0;
}
.liste {
  display: flex;
}

.cadrage {
  margin-top: 20px;
}
.dropdown {
  margin-top: 10px;
}
.dropdown .btn {
  font-size: 16px;
}

.liens {
  display: flex;
  padding: 3px;
  transition: 0.6s;
  justify-content: space-around;
}
.h4 {
  font-size: 1em;
  margin-bottom: 10px;
}

.liens a {
  color: var(--white-color);
}

.liens:hover {
  background-color: var(--RedBordeaux-color);
  border-radius: 15px 0 15px 0;
}

/* Filter */
#filter {
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  font-size: 16px;
  transition: 0.6s;
}
optgroup {
  color: var(--black-color);
}

#filter:hover {
  background-color: transparent;
}
#filter option:hover {
  background-color: var(--violet-color);
  border-radius: 15px 15px 15px 0;
}
option {
  background-color: var(--violet-color);
}

/* Bar et Boutons de connection */
.btnConnection {
  margin: auto 0;
}
.barDeRecherche input {
  margin-right: 10px;
  padding: 10px;
  border-radius: 15px;
}

.btn {
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  cursor: pointer;
  background-color: var(--RedBordeaux-color);
  color: var(--white-color);
  transition: 0.6s;
}
.btn:hover {
  background-color: var(--white-color);
  color: var(--RedBordeaux-color);
}
/* dropdouwn btn */

/* Dropdown Button */
.dropbtn {
  background-color: var(--violet-color);
  color: white;
  padding: 30px;
  font-size: 16px;
  border: none;
  transition: 0.6s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--RedBordeaux-color);
  border-radius: 15px 0 15px 0;
}

/* ******Pays******** */
.country {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
}
.country a {
  color: var(--white-color);
}
.france,
.usa,
.autre {
  background-color: var(--violet-color);
  font-size: 20px;
  width: 180px;
  border-radius: 0 0 60px 60px;
  cursor: pointer;
  box-shadow: 3px 3px 10px;
}
.france:hover,
.usa:hover,
.autre:hover {
  background-color: var(--RedBordeaux-color);
  color: var(--white-color);
}

/* ****************** */
/******* MAIN *********/
/* ****************** */

/******* Page Index *********/
/* ****************** */
.block {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.un,
.deux {
  width: 300px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px;
}

/******* Page Bouteils Cards *********/
/* ********************************* */
.bgCards {
  width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.mainCards {
  justify-content: space-around;
}

.cardsContainer {
  width: 280px;
  height: auto;
  margin-top: 15px;
  background-color: var(--white-color);
  border-radius: 15px 0 15px 0;
  box-shadow: 3px 3px 10px;
}
.imgC {
  width: 50px;
  transform: rotate(90deg);
  margin-left: 50px;
}

.imgCards {
  width: 55px;
  border-radius: 15px 0 0 0;
}

.naImg {
  text-align: center;
}
.naImg h3 {
  text-align: center;
}

.mainCards {
  padding: 10px 10px;
  margin: 7px;
  background-color: var(--violet-color);
  border-radius: 3px 3px 10px;
}
.anGrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
.payReg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}
h3 {
  font-size: 10px;
  margin-bottom: 5px;
  padding: 5px;
}
h4 {
  font-size: 10px;
}
.btnDetail {
  text-align: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

/* ****************** */
/****** FOOTER ********/
/* ****************** */

footer {
  background-color: var(--red-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-radius: 60px 60px 0 0;
}
footer p {
  color: var(--white-color);
  width: 25%;
  margin: 0 auto;
}
