.containerEdite {
  color: var(--white-color);
  border-radius: 8px 8px 8px 0px;
  background: linear-gradient(var(--RedBordeaux-color), var(--red-color));

  border-color: var(--violet-color);
  padding: 20px;
  justify-content: center;
  max-width: 750px;
  height: 180px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  box-shadow: 10px 5px 5px grey;
}

.formEdite {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.btnEdit {
  margin-top: 20px;
  text-align: center;
}
